<!DOCTYPE html>
<html>
<head>
    <title>Contato</title>
    <link rel="stylesheet" href="../css/Contato.css">
    <link rel="icon" href="../img/astronauta.png" type="image/png">
</head>
<body>
    <ul class="menu">
        <a href="home.html">
            <img src="../img/foguete.png" alt="foguete" class="foguete-esquerda">
        </a>
        <li class="menu-item-esquerda"><a href="Pagina-inical.html">Página Inicial</a></li>
        <li class="menu-item"><a href="Sobre-nos.html">Aplicações da IA</a></li>
        <li class="menu-item"><a href="Servico.html">Prevenção e Proteção</a></li>
        <li class="menu-item-direita"><a href="Contato.html">Contato</a></li>
        <a href="home.html">
            <img src="../img/foguete.png" alt="foguete" class="foguete-direita">
        </a>    </ul>
    
    <div class="tela-container">
        <div class="item">
            <h2>Entre com contato</h2>
            <p>nosso time está disponível de segunda a sábado das 08h às 20h, exceto feriados.</p>
        </div>    
        <div class="tela-container">
            <div class="item">
                    <img src="../img/atendente.png" alt="contato" class="contato">
                    <strong><br>Assistente virtual</br></strong>
                    <p style="font-size:14px;">Tire dúvidas,<br>consulte seus pedidos e<br>veja o status do atendimento.</p>
                    <span></span>
            </div>
            <div class="item">
                <img src="../img/email.png" alt="contato" class="contato">
                <strong><br>Email</br></strong>
                <p style="font-size:14px;">Faça sua solicitação,<br>com nossos <br>atendentes.</p>
                <span></span>
            </div>  
            <div class="item">
                <img src="../img/contato.png" alt="contato" class="contato">
                <strong><br>(19)99976-6519</br></strong>
                <p style="font-size:14px;">Ligue<br>para falar com<br>nosso atendimento.</p>
                <span></span>
            </div>          
        </div>
    </div>
     
    
    <div class="pulo">
    </div>
    <h6 class="rodape-fixado">Todos os direitos reservados a PR company</h6>
</body>
</html>
