<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="../img/astronauta.png" type="image/png">
</head>
<body>
    <ul class="menu">
        <a href="home.html">
            <img src="../img/foguete.png" alt="foguete" class="foguete-esquerda">
          </a>
        <li class="menu-item-esquerda"><a href="Pagina-inical.html">Página Inicial</a></li>
        <li class="menu-item"><a href="Sobre-nos.html">Sobre Nós</a></li>
        <li class="menu-item"><a href="Servico.html">Serviços</a></li>
        <li class="menu-item-direita"><a href="Contato.html">Contato</a></li>
        <img src="../img/foguete.png" alt="foguete" class="foguete-direita">
    </ul>
    
    <div class="container">
        <div class="item">
            <h2>Coluna 1</h2>
            <p>Conteúdo 0 primeira coluna.</p>
        </div>
        <div class="item">
            <img src="../img/hamb.png" alt="hamb" class="hamb">
        </div>
        <div class="item">
            <h2>Coluna 3</h2>
            <p>Conteúdo da terceira coluna.</p>
        </div>
        <div class="item">
            <h2>Coluna 4</h2>
            <p>Conteúdo da primeira coluna.</p>
        </div>
        <div class="item">
            <h2>Coluna 5</h2>
            <p>Conteúdo da segunda coluna.</p>
        </div>
        <div class="item">
            <h2>Coluna 6</h2>
            <p>Conteúdo da terceira coluna.</p>
        </div>
        
    </div>
    <div class="pulo">
    </div>
    <h6 class="rodape-fixado">Todos os direitos reservados a RS company</h6>
</body>
</html>
