<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../css/Pagina-inicial.css">
    <link rel="icon" href="../img/astronauta.png" type="image/png">
</head>
<body>
    <ul class="menu">
        <a href="home.html">
            <img src="../img/foguete.png" alt="foguete" class="foguete-esquerda">
        </a>
        <li class="menu-item-esquerda"><a href="Pagina-inical.html">Página Inicial</a></li>
        <li class="menu-item"><a href="Sobre-nos.html">Aplicações da IA</a></li>
        <li class="menu-item"><a href="Servico.html">Prevenção e Proteção</a></li>
        <li class="menu-item-direita"><a href="Contato.html">Contato</a></li>
        <a href="home.html">
            <img src="../img/foguete.png" alt="foguete" class="foguete-direita">
        </a>
    </ul>
    <div class="containerTitulo">
        <div class="itemTitulo">
                <h1>Bem-Vindo ao Mundo da Inteligência Artificial</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="item">
            
            <main>
                <section>
                    <h2 class="subtitulo">O que é a Inteligência Artificial?</h2>
                    <p>A IA é a ciência que permite às máquinas aprenderem, raciocinarem e tomarem decisões, imitando a inteligência humana. Neste site, desvendamos os mistérios por trás dessa tecnologia e explicamos como ela está moldando nosso presente e futuro.</p>
                </section>
            
                <section>
                    <h2 class="subtitulo">Descubra Aplicações Incríveis</h2>
                    <p>De carros autônomos a diagnósticos médicos precisos, a IA está revolucionando indústrias e a forma como vivemos. Explore nossos artigos e estudos de caso para conhecer como a IA está sendo usada em medicina, negócios, educação, entretenimento e muito mais.</p>
                </section>
            
                <section>
                    <h2 class="subtitulo">Aprenda e Cresça</h2>
                    <p>Quer você seja um iniciante curioso ou um profissional experiente, oferecemos recursos abrangentes para expandir seu conhecimento. Nossos tutoriais, cursos online e webinars o guiarão pelo mundo complexo da IA.</p>
                </section>
            
                <section>
                    <h2 class="subtitulo">A Ética da IA</h2>
                    <p>Com grande poder vem grande responsabilidade. Abordamos questões éticas críticas relacionadas à IA, desde a privacidade dos dados até o viés algorítmico, garantindo que você compreenda os desafios e as oportunidades dessa tecnologia.</p>
                </section>
        </div>
   
        
    </div>
    <div class="pulo">
    </div>
    <h6 class="rodape-fixado">Todos os direitos reservados a PR company</h6>
</body>
</html>
